body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.card {
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0, 0.5);
  width: 390px;
  border-radius: 8px;
  margin-top: 48px;
}
.card-img {
  border-bottom: 1px solid rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.fullname {
  flex-direction: row;
  gap: 14px;
}
.card-button {
  padding-left: 14px;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 14px;
  justify-content: center;
  align-items: center;
}
.fullname {
  font-size: 24px;
}
.title-gender {
  font-size: 20px;
  flex-direction: row;
  gap: 30px;
}
.mail {
  font-size: 18px;
}
.card-section {
  flex-wrap: wrap;
  flex-direction: row;
  gap: 84px;
  width: 1400px;
}
